.container{
    left: 40%;
    margin-top: 70px;
    width: 30%;
}
.form-group{
    padding: 10px;
}
.btn{
    margin: 5px;
    border: none;


}
.table{
    position: absolute;
    left: 20%;
width: 60%;
text-align: center;

.okay{
    color: red;
}
}
