<div class="container">
    <div class="row justify-content-center">
        <div class="col-12">
<div class="main">
    <div class="data">
      <label for="">Name</label>
      <input type="text" placeholder="Name">
      <label for="">Roll No</label>
      <input type="number" placeholder="Roll No">
      <label for="">City</label>
      <input type="text" placeholder="City">
    </div>
    <div class="btn  ">
      <button class="btn btn-success">Submit</button>
      <button class="btn btn-primary">Edit</button>
    </div>
  </div>
  
        </div>
    </div>
</div>
